<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>試算Pinkoi 管理費用</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="javascripts/fee.js"></script>

    <!-- Le styles -->
    <link href="stylesheets/sass-bootstrap.min.css" rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>

  <body>
    <a href="https://github.com/gaarder/calculate_pinkoi">
      <img style="position: absolute; top: 0; right: 0; border: 0;z-index: 9999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub">
    </a>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">試算Pinkoi費用<small>（加強版）</small></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">
<!--
      <div class="well">
        <p>
        試算Pinkoi費用，是用來計算「單筆」產品費用，會自動產生產品的管理費用，所以如果用多筆產品費用，誤差值會變大到我無法控制....
        </p>
        <p>
        本試算程式僅供參考，實際情況以收到營收報表為主。本試算程式並非官方製作。
        </p>
        <p>
        詳細請至 <a href="http://www.pinkoi.com/page/store-intro#payment">Pinkoi官方網站</a></p>
        <h3>使用方式</h3>
        <p>
        <ol style="text-decoration:line-through;">
          <li>以產品單筆單價輸入價格</li>
          <li><strong>信用卡/Paypal費用</strong>或是<strong>7-11/全家費用</strong>則一輸入</li>
          <li>就會產生相關費用</li>
          <li>(自己可假設Pinkoi有回饋消費者紅利,可在<strong>Pinkoi紅利</strong>回饋金額)</li>
        </ol>
        <h3>建議與回饋</h3>
        <p style="text-decoration:line-through;">如果有問題你覺得有什麼更棒的功能歡迎在右側的<strong>建議與回饋</strong>跟我講,如果我有空的話會盡力處理:) </p>
        </p>
      </div>
-->
      <div ng-app>
        <form class="form-horizontal" ng-controller='FeeCtrl' role="form">
          <div class="row">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputTotal">訂單金額</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputTotal" placeholder="" ng-model="orderTotal" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputlistPrice">定價金額</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputlistPrice" placeholder="" ng-model="listPrice" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputProduct">商品金額</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="inputProduct" placeholder='' ng-model='productAmount' ng-change="change()">
              </div>              
	  		  <label class="radio-inline">
   		  	  	<input type="radio" ng-model="paymentOption" id="radioInstant" value="rInstantPayment" ng-change="change()">
    	  	  	信用卡／PayPal 付款
  			  </label>
  	  		  <label class="radio-inline">
    	  	  	<input type="radio" ng-model="paymentOption" id="radioDelayed" value="rDelayedPayment" ng-change="change()">
    	  	  	便利店／ATM 付款
  			  </label>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputShipping">運費金額</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="inputShipping" placeholder='' ng-model='shippingAmount' ng-change="change()">
        	  </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputSellerDiscount">店家折扣（%）</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="inputSellerDiscount" placeholder='' ng-disabled="disableSellerDiscount" ng-model='sellerDiscount' ng-change="change()">
        	  </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputPinkoiBonus">Pinkoi 負擔之紅利</label>
              <div class="col-sm-4">
                <input id="inputPinkoiBonus" class="form-control" type="number" ng-disabled="disablePinkoiBonus" ng-model='pinkoiBonus' ng-change="change()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputPinkoiDiscount">Pinkoi 負擔之折抵</label>
              <div class="col-sm-4">
                <input id="inputPinkoiDiscount" class="form-control" type="number" ng-disabled="disablePinkoiDiscount" ng-model='pinkoiDiscount' ng-change="change()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputFeeBeforeTax">未稅管理費</label>
              <div class="col-sm-4">
                <input id="inputFeeBeforeTax" class="form-control" type="text" value='{{feeBeforeTax}}' disabled>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputRemittance">實收金額</label>
              <div class="col-sm-4">
                <input id="inputRemittance" class="form-control" type="text" value='{{Remittance}}' disabled><span class="help-inline">{{RemittanceError}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputProfit">利潤率</label>
              <label class="col-sm-4 control-label" id="inputProfit">
                {{profitRate}}
              </label>
            </div>

          </div>

          <div class="row">
            <div class="well" style='text-align: center;'>
              <div class="btn btn-lg btn-primary disabled">總金額</br>{{ orderTotal }}</div> - ( <div class="btn btn-lg btn-danger disabled">成交金流</br> {{ delayedCharge }}</div> + <div class="btn btn-lg btn-danger disabled">成交管理費</br> {{ feeBeforeTax }}</div> + <div class="btn btn-lg btn-danger disabled">管理費營業稅</br> {{ (feeAfterTax - feeBeforeTax) || '' }}</div> + <div class="btn btn-lg btn-danger disabled">金流費攤分</br> {{ (bankingCharge) || '' }}</div> ) = <div class="btn btn-lg btn-success disabled">匯款金額</br> {{ Remittance }}</div>
              <p><small>金流手續費以月收益 6000 估算</small></p>
            </div>
          </div>

        </form>
      </div>

    </div> <!-- /container -->


    <div id="footer">
    </div>

  </body>
</html>
